test/__pycache__/
.cache/
__pycache__/
out/
target/
*.yaml
~$fitnessfunctions.xlsx
experiments/28-09-2017.zip

functionepochs-SumOfPowers-100000.csv
functionepochs-SumOfPowers-100000-missing-2015.csv
test.csv
./*.csv
.idea/workspace.xml
~experiments/
.idea/libraries/
~genescache.tmp
allgenerations-test-.csv
test-results.csv
DotNet/PopulationFitness/.vs/
DotNet/PopulationFitness/PopulationFitness/bin/
DotNet/PopulationFitness/PopulationFitness/obj/
DotNet/PopulationFitness/TestPopulationFitness/bin/
DotNet/PopulationFitness/TestPopulationFitness/obj/
.idea/workspace.xml___jb_tmp___
